
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.movie-column {
    width: 25%;
    padding: 0 15px;
}

.movie-hidden {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.poster {
    width: 320px;
    height: 410px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.poster:hover {
    transform: scale(1.05); /* Increase size on hover */
}

.movie-column {
    width: 25%;
    padding: 0 15px;
}

.movie-title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black; /* Set text color to black */
    transition: color 0.3s ease-in-out;
}

.movie-column:hover .movie-title {
    color: black; /* Change text color on hover */
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 14px;
}